<% include partials/header %>

<h1>You fell in love with: <%= thingVar %></h1>

<% if(thingVar.toLowerCase() === "natalie") { %>
	<h2> Good choice, she's a hottie! </h2>
<% } else { %>
	<h2> Bad choice, you should have picked Natalie!</h2>
<% } %>

<p> p.s. this is the love.ejs file </p>

<!-- use this when added to html e.g. 5+5 turns into 10 -->
<%= %>

<!-- use without equals sign for logic -->
<% %>

<% include partials/footer  %>

